# التبعيات
node_modules

# مخرجات البناء
dist
dist-ssr

# متغيرات البيئة المحلية
.env
.env.local
.env.*.local

# نظام التشغيل والمحرر
.DS_Store
*.log
logs
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
